 body{
  background-image: url(../photos/dimensions-officielles-du-terrain-de-football-de-la-fifa.jpeg);
  background-repeat: repeat-y;
 }
  .card-bg {
    background: linear-gradient(to top, #222, #444, #666);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .stats-bg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
  }
  .background-section {
    background-image: url('https://www.futbin.com/design2/img/static/field-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 7fr 3fr; 
    grid-template-rows: 100vh; 
    gap: 0px 0%; 
    grid-template-areas:
    
      "ter list"; 
  }
  .list { 
    height: 100%;
    grid-area: list;
     }
  .ter {
    display: grid; 
  grid-template-columns: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr; 
  grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr; 
  gap: 0px 0%; 
  grid-template-areas: 
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."; 
    margin-top: 3%;
    height: 100%;
    width: 100%;
    grid-area: ter;
    background-image: url(https://www.futbin.com/design2/img/static/field-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 110%;
  }
  
  .card-bg {
    background: linear-gradient(to top, #222, #444, #666);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .stats-bg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
  #cardContainer {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }
  #cardContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  #cardContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  #cardContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  #cardContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .terrain-slot .player-card {
    width: 50%;
    height: 50%;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}
.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #e3342f;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #cc1f1a;
}
#deleteZone {
  border: 2px dashed white;
  background-color: #e3342f;
  transition: background-color 0.3s ease;
}
#deleteZone.dragover {
  background-color: #cc1f1a;
}
